.sr-section {
    min-height: 100vh;
    position: relative;
}

.sr-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-list-grid {
    display: grid;
    grid-template-columns: 15% 15% 60% 10%;
    justify-items: center;
    height: 40px;
    overflow: hidden;
    margin-bottom: 15px;
}

.user-post-list {
    display: block;
    padding: 10px 0px;
    transition: all .1s ease-in-out;
}
.user-post-list:hover {
    display: block;
    padding: 10px 0px;
    background-color: ghostwhite;
}

.sr-card {
    padding: 10px;
    background-color: #fff;
    height: 100%;
}

.sr-position-end {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.sr-card-title {
    font-size: 20px;
}
.sr-card-subtitle {
    font-size: 16px;
}

.post-view-grid {
    display: grid;
    grid-template-columns: 5% 10% 10% 45% 10% 15%;
    gap: 10px;
}

.glass-card{
    /* width: 350px; */
    margin: 0;
    padding: 30px;
    background:rgb(255 255 255 / 50%);
    -webkit-backdrop-filter: blur(10px);
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0 rgba(43, 45, 66, 0.3);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.sr-search {
    width: 50%;
    padding: 12px;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
}