.sr-section {
    min-height: 100vh;
    position: relative;
}

.sr-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-list-grid {
    display: grid;
    grid-template-columns: 15% 15% 60% 10%;
    justify-items: center;
    height: 40px;
    overflow: hidden;
    margin-bottom: 15px;
}

.user-post-list {
    display: block;
    padding: 10px 0px;
    transition: all .1s ease-in-out;
}
.user-post-list:hover {
    display: block;
    padding: 10px 0px;
    background-color: ghostwhite;
}

.sr-card {
    padding: 10px;
    background-color: #fff;
    height: 100%;
}

.sr-position-end {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.sr-card-title {
    font-size: 20px;
}
.sr-card-subtitle {
    font-size: 16px;
}

.post-view-grid {
    display: grid;
    grid-template-columns: 5% 10% 10% 45% 10% 15%;
    gap: 10px;
}